<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <connectionStrings>
    <!-- <add name="UIP1" connectionString="Data Source=10.10.30.19;Initial Catalog=master;Integrated Security=False;User Id=rstaspectdev;Password=Re$olutt3;Connection Timeout=30;MultipleActiveResultSets=True;" providerName="System.Data.SqlClient" />-->
  <add name="UIP1" connectionString="Data Source=10.10.30.3;Initial Catalog=TELData;Integrated Security=False;User Id=rstaspectreport;Password=Re$olutt3;Connection Timeout=30;MultipleActiveResultSets=True;" providerName="System.Data.SqlClient" />
  <add name="UIP2" connectionString="Data Source=10.10.30.23;Initial Catalog=master;Integrated Security=False;User Id=rstaspectdev;Password=Re$olutt3;Connection Timeout=30;MultipleActiveResultSets=True;" providerName="System.Data.SqlClient" />

  </connectionStrings>
<appSettings>
	<add key="Audio1" value="\\10.10.30.45\AQM_Gravacoes\Current\"/>
	<add key="Audio2" value="\\10.10.30.45\AQM_Gravacoes\Current\"/>
	<add key="Audio3" value="\\10.10.30.45\AQM_Gravacoes\Current\"/>
	<add key="Audios" value="\\10.10.30.45\AQM_Gravacoes\Current\"/>
  <add key="Destino" value="c:\teste"/>
	<add key="Application" value="D:\Resolutte\Speech_AnalyticsBV\"/>
	<add key="Sox" value="C:\Program Files (x86)\ITXPERIA\Speech_Analytics.Setup\rstsox.exe"/>
    <add key="HoraDiario" value="23:00:00" />
    <add key="HoraHora" value="04:00:00,04:15:00,04:30:00,04:45:00,05:00:00,05:15:00,05:30:00,05:45:00,06:00:00,06:15:00,06:30:00,06:45:00,07:00:00,07:15:00,07:30:00,07:45:00,08:00:00,08:15:00,08:30:00,08:45:00,09:00:00,09:15:00,09:30:00,09:45:00,10:00:00,10:15:00,10:30:00,10:45:00,11:00:00,11:15:00,11:30:00,11:45:00,12:00:00,12:15:00,12:30:00,12:45:00,13:00:00,13:15:00,13:30:00,13:45:00,14:00:00,14:15:00,14:30:00,14:45:00,15:00:00,15:15:00,15:30:00,15:45:00,16:00:00,16:15:00,16:30:00,16:45:00,17:00:00,17:15:00,17:30:00,17:45:00,18:00:00,18:15:00,18:30:00,18:45:00,19:00:00,19:15:00,19:30:00,19:45:00,20:00:00,20:15:00,20:30:00,20:45:00,21:00:00,21:15:00,21:30:00,21:45:00,22:00:00,22:15:00,22:30:00,22:45:00,23:00:00,23:15:00,23:30:00,23:45:00" />
	<add key="HoraEnvioBastao" value="12"/>
	<add key="DestinoXML" value="D:\port\XML\"/>
	<add key="DestinoAudio" value="D:\port\Audio\"/>
  
  <!--FTP credentials-->
  <add key="ftpHost" value="0.64.80.241"/>
  <add key="ftpUser" value="telsp"/>
  <add key="ftpPassword" value="telsp"/>
  <add key="ftpPort" value="21"/>
  <add key="ftpDirectory" value="//net_telematica//net_telematica//"/>
  </appSettings>
</configuration>
